*{
  margin: 0;
  padding: 0;
  
}
.layout {
  background-color: teal;
}
.layout_section {
  display: flex;
  gap: 30px
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tab_container {
  button {
    background-color: #1976d2;
    color: white;
    border: 1px solid;

  }
  button.Mui-selected {
    color: black;
    background-color: teal;
  }
}

.MuiAlert-standard {
  width: 250px;
  position: absolute;
  right: 0;
  top: 50px;
transform: translateX(100%);
transition: 0.5s all ease-in;
}
.showalert {
transform: translateX(0%);
  
}